# .gitlab-ci.yml file

.after_release_rules: &after_release_rules
  rules:
    - if: '$CI_COMMIT_TAG != null || $CI_COMMIT_TITLE =~ /^chore: release/'
      when: never
    - when: always


image: node:latest
cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - validate
  - test
  - build
  - release
  - deploy

install:
  stage: .pre
  script:
    # define cache dir & use it npm!
    - npm ci --cache .npm --prefer-offline


lint:
  stage: validate
  script:
    - npm run lint
  <<: *after_release_rules

only-canary:
  stage: validate
  script:
    - echo "Hello Only Canary !"
  rules:
    - if: '$ENV_TARGET == "canary" && ($CI_COMMIT_TAG != null || $CI_COMMIT_TITLE =~ /^chore: release/)'

unit-test:
  stage: test
  script:
    - npm test
  <<: *after_release_rules

integration-test:
  stage: test
  script:
    - echo "Hello Integration!"
  needs:
    - unit-test
  <<: *after_release_rules

e2e-test:
  stage: test
  script:
    - echo "Hello E2E !"
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      when: never
  needs:
    - integration-test

release:
  stage: release
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"
        && $CI_COMMIT_TAG == null
        && $CI_COMMIT_TITLE !~ /^chore: release/'
  before_script:
    - git config user.email $GITLAB_USER_EMAIL
    - git config user.name $GITLAB_USER_NAME
    - git remote set-url origin
      "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - git checkout $CI_COMMIT_BRANCH
    - git pull origin $CI_COMMIT_BRANCH --rebase
  script:
    - npx --yes release-it --ci